{% extends 'base.html.twig' %}

{% block h1 %}Connexion et securité{% endblock %}

{% block body %}

<div class="container mt-5">
    <div class="card">
        <div class="card-header text-center bg-primary text-white">
            Profil de l'utilisateur
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><strong>Nom :</strong> {{app.user.nom}}</li>
            <li class="list-group-item"><strong>Prénom :</strong> {{app.user.prenom}}</li>
            <li class="list-group-item"><strong>Email :</strong> {{app.user.email}}</li>
        </ul>
        <div class="card-footer bg-transparent d-flex justify-content-center">
            <a href="{{ path('profil_modifier') }}" class="btn btn-outline-primary">Modifier</a>
        </div>
    </div>
</div>





{% endblock %}