{% extends 'base.html.twig' %}

{% block h1 %}Mon Compte{% endblock %}

{% block body %}
    
    <ul>
      <li><a href="{{ path('connexion_securite') }}">Connexion et Securite</a></li>
      <li><a href="{{ path('commande_passe') }}">Commande Passé</a></li>
    </ul>



{% endblock %}