{% extends 'base.html.twig' %}

{% block h1 %}Page d'accueil{% endblock %}

{% block body %}
<div class="container">
    {% for logo in logo %}
        <img class="img-fluid" src="{{ asset('image/logo/' ~ logo.imageName)}}">
    {% endfor %}
</div>  
    
<div class="container">
    <div style="d:flex">
    
        <h2>Présentation du salon</h2>
 
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptate soluta laudantium maxime aspernatur corporis natus ipsa fugiat harum blanditiis voluptates magni quas excepturi, mollitia, facere culpa reiciendis ea, vel beatae itaque ullam officia cum esse. Quos vitae aliquid fuga aspernatur.</p>
    </div>
         
</div>
<h2 class="home">Nos prestations</h2>
<div class="container">
    <div class="row">
       {% for prestation in prestation %}
            <div class="col-6 col-md-4 mt-5">
                
                   <img class="img-fluid" src="{{ asset('image/prestation/' ~ prestation.imageName )}}">
                <div class="text-center">
                    {{prestation.nom|capitalize}}

                    <h3>{{prestation.prix}}€</h3>
                </div>    
            </div>
        {% endfor %}
    </div>
</div>






{% endblock %}