{% extends 'base.html.twig' %}

{% block title %}Edit ArticlePanier{% endblock %}

{% block body %}
    <h1>Edit ArticlePanier</h1>

    {{ include('article_panier/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_article_panier_index') }}">back to list</a>

    {{ include('article_panier/_delete_form.html.twig') }}
{% endblock %}
